<h1>Lista de tareas</h1>
<button (click)="sortTasks()">Cambiar orden</button>
<button (click)="sortByPriority()">Ordenar por prioridad</button>

<div *ngFor="let task of tasks; index as i;">
  <p (click)="completeTask(task)" *ngIf="tasks.length > 0">{{task.name}}. {{task.priorityText}}
    <span *ngIf="task.state === true">---Tarea completada</span>
    <button (click)="removeTask(task.id)">Borrar tarea</button> 
  </p>
  
</div>
<div *ngIf="tasks.length == 0">¡Crea tu primera tarea! :)</div>
<input type="text" [(ngModel)]="inputTask">
<select [(ngModel)]="priorityTask">
  <option value=0>Prioridad baja</option>
  <option value=1>Prioridad media</option>
  <option value=2>Prioridad alta</option>
</select>
<button (click)="addTask(inputTask)">Crear tarea</button>
<div *ngIf="allCompleted">
  <p>¡Buen trabajo! Sigue así crack :)</p>
</div>